numpy==1.18.1
Pillow==5.1.0
PyYAML==5.3
scikit-video==1.1.11
scipy==1.4.1
six==1.14.0
torch==1.2.0
torchvision==0.4.0
tqdm==4.43.0
Cython
scikit-image
keras
configobj
IPython
tensorflow-gpu
h5py
zmq
opencv-python
cupy-cuda90
